.Project-form {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Form-title {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 70px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.Form-button {
    cursor: pointer;
    background-color: aliceblue;
    border: 2px #000 solid;
    line-height: 50px;
}

.Form-input, .Form-button {
    width: 50%;
    min-height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
}

.Form-input-left, .Form-input-right, .Form-cross {
    min-height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Form-cross {
    width: 4%;
    border-radius: 20px 0 0 20px;
}

.Form-input-left {
    width: 21%;
}

.Form-input-right {
    width: 25%;
    border-radius: 0 20px 20px 0;
}

.Form-input, .Form-input-left, .Form-input-right {
    background-color: #ffd769;
    color: #000;
}

textarea, input {
    border: 1px #000 dashed;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

textarea:focus, input:focus {
    border: 3px #000 solid;
    background-color: #fdc759;
}

textarea {
    height: 80px;
}

@media (max-width: 900px) {
    .Form-title {
        font-size: 30px;
    }
    .Form-input, .Form-button, .Form-input-left, .Form-input-right, .Form-cross {
        height: 25px;
        font-size: 15px;
    }
    .Form-input, .Form-button {
        width: 80%;
        margin: 10px;
    }
    .Form-cross {
        width: 8%;
    }
    .Form-input-left {
        width: 32%;
    }    
    .Form-input-right {
        width: 40%;
    }
}